<div class="row">
    <div class="col-md-6">
        <img style="width:70%;" src="{{ asset('assets/media/illustrations/terms-1.png') }}" alt=""></div>
        <div class="col-md-6">
            {{ form(form) }}
            </div>

        </div>
        