<div class="row">
    <div class="col-md-6">
        <img style="width:80%;" src="{{ asset('assets/media/illustrations/drawing.png') }}" alt="">
    </div>
    <div class="col-md-6">
        {{ form(form) }}
    </div>

</div>