<div class="row">
    <div class="col-md-6">
        <img style="width:100%;" src="{{ asset('assets/media/illustrations/user-welcome.png') }}" alt="">
    </div>
    <div class="col-md-6">
        {{ form(form) }}
    </div>
</div>