<!doctype html>


<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}{% block page_title '' %} | {% block app_title 'Unlock' %}{% endblock %}
    </title>
    <link rel="icon" href="{{asset('assets/img/logo.png')}}" type="image/x-icon">

    {% block stylesheets '' %}
    {% block final_stylesheets '' %}
    {% block head_javascripts '' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block body '' %}
{% block javascripts '' %}
{% block final_javascripts '' %}

<!-- Custom styles for this template -->


</html>