{% extends "layout.html.twig" %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block breadcrumb_page %}
   <h1 class="text-white">Dashboard</h1> 
{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
{% endblock %}

{% block content %}

    <div class="card custom-card">
        <div class="card-body">
            Typing Some text here....


        </div>
    </div>

{% endblock %}

