<div class="col-lg-9 col-xl-6 d-flex align-items-center" class="menu-link px-3" data-bs-toggle="tooltip" title="Indique votre état de présence">
    <div class="form-check form-check-custom form-check-solid form-switch">
        {{ form(form) }}
        </div>
</div>
    